name: Release

on:
  push:
    tags:
      - "[0-9]+.*"
    branches:
      - master

jobs:


  upload-assets:
    strategy:
      fail-fast: false
      matrix:
        include:
          # Targets that match the OS of the runner.
          - target: aarch64-pc-windows-msvc
            os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      # v4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: difft
          # (optional) On which platform to distribute the `.tar.gz` file.
          tar: unix
          # (optional) On which platform to distribute the `.zip` file.
          zip: windows
          # (optional) Target triple, default is host triple.
          target: ${{ matrix.target }}
        env:
          # (required)
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

